export DATABASE_NAME="band_repertory"
export DATABASE_USER="root"
export DATABASE_PASSWORD="041102"
export DATABASE_HOST="localhost"
export DATABASE_PORT="3306"
export DEBUG="True"
export ALLOWED_HOSTS="127.0.0.1,localhost"
export GOOGLE_API_KEY="AIzaSyDDOYN3vm-jxWB0-FkxrtaX_wQNH27CRls"
export CSE_ID="8287fb54384d5498c"
# for container in msql
# do
#     CONTAINER_STARTED=$(docker container ls --filter name=$container -q)
#     if [ "$CONTAINER_STARTED" = "" ]; then
#         docker start $container
#     fi
# done
